/* Navbar */
.navbar {
    margin-bottom: 0;
    border-radius: 0px;
}

/* Scraper link */
#scraper-link {
    /*color: #B94A48;*/
    background-color: #B94A48;
}

/* Jumbotron */
.jumbotron {
    text-align: center;
    background-image: url("../images/NYTimes-logo.jpg");
    opacity: 0.8;
    background-size: 100%;
    color: #3A87AD;
}

/* Footer */
.footer {
    padding: 30px 0;
    text-align: center;
}

/* */
#articles {
    overflow: auto;
    height: 500px;
}

textarea,
input {
    width: 100%;
}












